@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Gothic&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); /* ROBOTO шрифт */

.footer {
	width: 78%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-block-start: 20px;
}

.power_by {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 19px;
	color: #857878;
}

@media (max-width: 800px) {
	.power_by {
		display: none;
	}
}