.main {
	width: 100%;
	margin-block-start: 42px;
	margin-block-end: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about_me_section {
	width: 1334px;
	min-height: 339px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	box-sizing: border-box;
}

.photo_and_text {
	display: flex;
	align-items: stretch;
	gap: 77px;
	width: 100%;
}

.photo_container {
	width: 346px;
	min-height: 339px;
	display: flex;
	align-items: center;
	flex-shrink: 0;
	overflow: hidden;
	/* border: solid 2px; */
}

.photo_container img {
	width: 100%;
	height: 339px;
	object-fit: cover;
    transform: scale(1.2);
}

.text_container {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.my_text {
	font-family: "Montserrat", serif;
	font-weight: 400;
	font-size: 24px;
	text-align: justify;
	margin-block-start: 0px;
	margin-block-end: 0px;
}

@media (max-width: 1400px) {
	.about_me_section {
		width: 100%;
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media (max-width: 1000px) {
	.about_me_section {
		gap: 17px;
	}

	.photo_and_text {
		flex-direction: column;
		align-items: center;
		gap: 17px;
	}

	.photo_container {
		width: 80%;
		height: 339px;
		justify-content: center;
	}

	.photo_container img {
		width: 346px;
		height: 100%;
		transform: none;
	}

	.my_text {
		font-size: 20px;
	}
}